header {
  color: black;
  margin-top: 10px;
  margin-bottom: 100px;
  margin-right: 70px;
  margin-left: 700px;
}

article {
  margin-top: 10px;
  margin-bottom: 100px;
  margin-right: 70px;
  margin-left: 80px;   
}


div.img
{
  
  margin-bottom: 100px;
  margin-right: -550px;
  margin-left: 0px;   
}

button {
    background-color: #bfbfbf; 
    border: none;
    color: black;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-right: 270px;
    margin-left: -270px; 
}

footer {
  background-color: #bfbfbf;
  color: black;
  margin-top: 200px;
  padding: 8px 8px;

}
