code {
	background: #2db34a;
	border-radius: 6px;
	color: #fff;
	display: block;
	padding: 24px 15px;
	text-align: center;
	border: 1px solid black;
}

header,
section {
	position: absolute;
	top: 400px;
	right: 400px; 
}
.image-wrapper{
	overflow: auto;
}



img {
	width: 350px;
	height: 350px
	float: top;
}
aside 
footer 

