code {
	background: #2db34a;
	border-radius: 6px;
	color: #fff;
	display: block;
	padding: 24px 15px;
	text-align: center;
	border: 1px solid black;
}

header,
section {
	position: absolute;
	top: 550px;
	right: 550px; 
}
img {
	width: 300px;
	height: 300px
	float: top;
}
aside 
footer 

