
<head>
<title>My Todo List</title>
</head>

    
<h1>Jose's To Do List</h1>

<ul>
<% @tasks.each do |task| %>
<li>
<%= task.content %> <button type="button" name="completed">task complete</button>
</li>

<% end %>
</ul>

 <a href="/new_task"> Add Task </a>