   

 <form action="/add_new_task" method="post">
  <label>
    Task Name:
    <input type="text" name="content" placeholder="">
  </label>
  <button type="submit">
    Add Task
  </button>
</form>
 
 

  
  