<!DOCTYPE html>
<html>
  <head>
    <title>My Todo List</title>
  </head>
  <body>
    <h1>My Todo List</h1>
    <form>
  <label>
    Task Name:
    <input type="text" placeholder="Pick up milk">
  </label>
  <button type="button">
    Add Task
  </button>
</form>
 <ul>
  <li>
    <label>
      <input type="checkbox">
      ???
    </label>
  </li>
  <li>
    <label>
      <input type="checkbox">
      ???
    </label>
  </li>
  <li>
    <label>
      <input type="checkbox">
      ???
    </label>
  </li>
</ul>
  </body>
</html>