<form action="asciis" method="post">
  <div>
    <label for="asciis_user_text">Text</label>
    <textarea name="asciis[user_text]" id="asciis_user_text"></textarea>
  </div>

  <!-- ***** New ***** -->
  <button type="submit">Submit text</button>
 <input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">

</form>