@font-face{
	font-family: proximaNova;
	src: url(fonts/ProximaNova-Reg.otf);
	font-weight: normal;
}
@font-face{
	font-family: proximaNova;
	src: url(fonts/ProximaNova-Light.otf);
	font-weight: lighter;
}
@font-face{
	font-family: proximaNova;
	src: url(fonts/ProximaNova-Sbold.otf);
	font-weight: bold;
}

.newreleases{
	font-size: 35px;
	font-weight: bold;
}


.movieposter {

  	display: inline;
    width: 70px;
  	padding: 25px;
  	margin: 13px; 
}
.button1 {
    background-color: red; 
    border: none;
    color: white;
    padding: 15px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    position: absolute;
  	top: 50px;
  	right: 100px;
}
.button2 {
    background-color: rgb(17, 131, 202); 
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    position: absolute;
  	top: 370px;
  	right: 450px;
  	z-index: 3;
}

div.transbox {
  margin: 80px;
  background-color: rgba(0,0,0,0.9);
  border: 1px solid black;
  opacity: 0.8;
  position: absolute;
  top: 100px;
  left: 110px;
}

div.transbox p {
  margin: 50px;
  padding: 30px;
  font-weight: 900;
  font-size: 50px;
  color: white;

	
}

.family   {
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgb(38,38,38);
}
.logo
{
    position: absolute;
    top: 20px;
    left: 40px;
}

p {

	margin-top: 60px;
	margin-left: 90px
}
footer {

	
    background-color: black;
	border-style: solid;
	border-color: black;
	padding: 20px;
	
}

body {
	margin: 0px;
	padding: 0px;
	background-color: "white";
	font-family: "ProximaNova"
}