.newreleases{
	font-size: 35px;
	font-weight: bold;
}


.movieposter {

  	display: inline;
    width: 70px;
  	padding: 25px;
  	margin: 13px; 
}
.button1 {
    background-color: red; 
    border: none;
    color: white;
    padding: 15px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
  	top: 50px;
  	right: 100px;
}
.button2 {
    background-color: blue; 
    border: none;
    color: white;
    padding: 15px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
  	top: 370px;
  	right: 450px;
  	z-index: 3;
}

div.transbox {
  margin: 80px;
  background-color: #000000;
  border: 1px solid black;
  opacity: 0.7;
  filter: alpha(opacity=80); 
  position: absolute;
  top: 100px;
  left: 100px;
}

div.transbox p {
  margin: 50px;
  padding: 30px;
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;
}

.family   {
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgb(38,38,38);
}
.logo
{
    position: absolute;
    top: 20px;
    left: 40px;
}

p {

	margin-top: 60px;
	margin-left: 90px

}
footer {

	
    background-color: black;
	border-style: solid;
	border-color: black;
	padding: 20px;


	
}

body {
	background-color: "white";
}