<!-- views/add.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Add | Online Calculator</title>
</head>


<body>


<!-- views/add.erb -->
<h1>Add</h1>

<form action="/calculate_add" method="POST">
  <input type="number" placeholder="1st number"> +
  <input type="number" placeholder="2nd number">

<button type="submit">Calculate</button>
</form>



</body>
</html>

<!-- <form>
  First Number:<br>
  <input type="number" name="first number">
  <br>
  Second Number:<br>
  <input type="number" name="second number">
  <br><br>
  <input type="number" value="Calculate">
</form> -->

<!-- <button type="submit" name="btn" value="edit">Edit</button>
<button type="submit" name="btn" value="copy">Make a copy</button> -->


