<h1>Jose's Calculator</h1>

<ul>
	<li>
	<a href="/"> Home </a>
	</li>
	<li>
	<a href="/add"> Add </a>
	</li>
	<li>
	<a href="/add"> Subtract </a>
	</li>
	<li>
	<a href="/add"> Multiply </a>
	</li>
	<li>
	<a href="/add"> Divide </a>
	</li>
</ul>