<center><h1>Jose's Page</h1><p></center>
<h3>About Me</h3>
<p>My name is Jose Perez-Roura and 
	I am currently a student at IronHack. 
	This is my first web app from bootcamp. I like
	to watch baseball and hockey. The World Series will be starting shortly.</p>

	
	<%= Time.now %>
	<% if Date.today.tuesday? %>
	<p>The World Series Game 1 is on tonight!</p>
	<% else %>
	<p>Go rent a movie!</p>
	
	<% end %>

