<h1>IMDB Movie Trivia</h1>

<h3>Please type a movie title keyword to begin trivia.
<p>
<form action="/search_results" method="get">
  <label>
    Movie Keyword:
    <input type="text" name="movie_term" placeholder="Keyword">
  </label>
  <button type="submit">
    Search
  </button>
</form>


