

<ul>

	<% @projects.each do |one_project| %>
	
	<li> <%= link_to one_project.name, project_path(one_project) %> 


	<% if one_project.description == nil %>
	
	<% one_project.name %>

	<% else %>

	<% one_project.name %> <% one_project.description %></li>

	<% end %>
<%= link_to('See time entries', project_time_entries_path(one_project)) %>

<% end %>
</ul>

<%= link_to "Create a new project", new_project_path %>